.root {
	-big-kanji-square-size: 130px;
	-small-kanji-square-size: 62px;
}

.content {
	-fx-padding: 10px;
}

.button-bar {
	-fx-spacing: 6px;
}

.radio-button-bar {
	-fx-spacing: 10px;
}

.prompt {
	-fx-font-size: 1.5em;
}

.correct {
	-fx-text-fill: blue;
}

.incorrect {
	-fx-text-fill: red;
}

.kanji-box {
	-fx-spacing: 5px;
}

.kanji {
	-fx-font-size: 92px;
	-fx-font-family: 'UD Digi Kyokasho N-R';
}

.kanji-container {
	-fx-border-width: 2px;
	-fx-border-stroke: solid;
	-fx-border-color: gray;
	-fx-pref-width: -big-kanji-square-size;
	-fx-pref-height: -big-kanji-square-size;
}

.bigKanjiSquare {
	-fx-border-width: 2px;
	-fx-border-stroke: solid;
	-fx-border-color: gray;
	-fx-pref-width: -big-kanji-square-size;
	-fx-pref-height: -big-kanji-square-size;
}

.smallKanjiSquares {
	-fx-hgap: 2px;
	-fx-vgap: 2px;
	-fx-pref-tile-width: -small-kanji-square-size;
	-fx-pref-tile-height: -small-kanji-square-size;
	-fx-background-color: gray;
	-fx-border-width: 2px;
	-fx-border-stroke: solid;
	-fx-border-color: gray;
}

.enabled-square {
	-fx-background-color: white;
}

.disabled-square {
	-fx-background-color: gainsboro;
}